<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @series.title %>
</p>

<p>
  <b>Description:</b>
  <%= @series.description %>
</p>

<p>
  <b>Category:</b>
  <%= @series.category_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @series.rating %>
</p>


<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
